@import url("./style.css");

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* Banner */

header {
    top: 0;
    left: 0;
    width: 100%;
    color: var(--font-color-one);
    height: 60px;
}

.landing {
    background: #fff0 url("../image/desc-page-hero.jpg") center / cover no-repeat;
    position: relative;
    height: 900px;
    display: flex;
    justify-content: center;
    line-height: 700px;
}

.landing:before {
    position: absolute;
    background-color: var(--background-mask);
    content: "";
    height: 100%;
    width: 100%;
}

.play {
    font-size: 90px;
    z-index: 1;
    color: var(--action-button-color);
}

/* Movie Box */

.movie {
    transform: translateY(-300px);
    height: auto;
    background-color: var(--background-color-two);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 40px 30px 60px 30px;
}

.photo-column {
    width: 150px;
}

.photo-column .watch-favorite {
    display: none;
}

.photo {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: url("../image/desc-page-hero.jpg") center / cover no-repeat;
}

.like,
.dislike {
    color: var(--font-color-two);
    background-color: #fff;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 30px;
}

.rating {
    justify-content: space-around;
}

.like:hover {
    color: #228b22;
}

.dislike:hover {
    color: #ff0000;
}

.info-section {
    width: 900px;
    margin-left: 20px;
    display: grid;
}

button[type=button] {
    padding: 10px 15px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.play-two {
    color: var(--font-color-one);
    background-color: var(--action-button-color);
}

.fa-play,
.fa-plus {
    margin-right: 10px;
}

.watch-favorite {
    justify-content: space-between;
}

.info-section p:first-of-type {
    color: #000;
    font-size: 30px;
}

.info-section p {
    color: var(--font-color-two);
}

.title {
    justify-self: center;
}

article {
    margin-bottom: 10px;
}

.stat {
    font-size: 16px;
    padding: 3px;
}

/*----------------------------------*/
/*-----------Section----------------*/
/*----------------------------------*/

h2 {
    font-size: 40px;
    color: #fff;
    padding: 50px 0px 10px 0px;
}

.section {
    margin-top: -300px;
}

section.three-column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

div.column {
    flex: 1;
    margin: 0.5%;
    width: 73px;
    height: 390px;
}

.column img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.column img+.column img {
    margin-bottom: 4%;
}

.column:hover img {
    opacity: 1;
    transform: scale(1.02);
    cursor: pointer;
}

.more a {
    color: #fff;
    text-decoration: underline;
    position: relative;
    left: 95%;
    ;
}

.more a:hover {
    text-decoration: underline;
    color: #1e90ff;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex .list {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.flex .list a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    font-size: 20px;
}

.flex .list a:hover {
    text-decoration: underline;
}

.flex .space-between {
    justify-content: space-between;
}

.footer p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 19px;
}

/*----------------------------*/
/*---English/French toggle----*/
/*----------------------------*/

.section select {
    margin-bottom: 8%;
}

/*----------------------------*/
/*--------footer email--------*/
/*----------------------------*/


.footer-p p {
    color: #fff;
    padding: 80px 0px 20px 0px;
    font-size: 21px;
}

.footer-email {
    width: 75%;
}

section p span {
    color: #fff;
    padding: 0px;
    font-size: 21px;
}

footer p {
    color: rgb(255 255 255/0.4);
    height: 50px;
    width: 100%;
}

/* Media queries for responsiveness */

@media (max-width: 1037px) {
    section.three-column {
        width: 99%;
        gap: 5px;
    }
}

@media (max-width: 930px) {

    /* Laptops and Desktops */
    div.column {
        flex: 0 0 calc(50% - 10px);
        max-width: 100%;
        height: 350px;
    }

    section.three-column {
        width: 83%;
        gap: 5px;
    }

    .more a {
        left: 80%;
    }

    .landing-email-input,
    .footer-email {
        width: 357px;
        height: 57px;
    }

    .form-box .landing-email-submit {
        width: 160px;
        height: 57px;
        font-size: 16px;
    }

    div.container.section {
        padding-left: 100px;
    }

    .form-box.center.flex-wrap {
        flex-wrap: nowrap;
    }
}


@media screen and (max-width: 765px) {
    /* Tablets */

    /* Movie description box */

    .photo {
        margin-top: 80px;
    }

    .photo-column {
        width: 380px;
    }

    .play-two {
        margin: 10px 0;
    }

    button[type=button].play-two,
    button[type=button].plus {
        width: 100%;
    }

    .photo-column .watch-favorite {
        display: block;
    }

    .info-section .watch-favorite {
        display: none;
    }

    .title {
        justify-self: left;
        padding-left: 0;
    }

    /*  movie suggestion sections */

    section.three-column {
        width: 98%;
        gap: 5px;
    }

    div.container.section {
        padding-left: 30px;
    }


    .column.reasons {
        height: 350px;
    }

    .more a {
        left: 80%;
    }

    .landing-email-submit {
        width: 181px;
        font-size: 17px;
    }

    .landing-email-input,
    .footer-email {
        width: 357px;
        height: 57px;
    }

    .column img {
        width: 100%;
    }

    section footer p {
        padding-left: 30px;
    }

    .form-box.center.flex-wrap {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    /* Smartphones or tablets in portrait */

    /* Movie Description box*/

    .movie {
        flex-direction: column;
        align-items: center;
    }

    .photo-column {
        width: 200px;
    }

    .photo {
        margin-top: 0;
        height: 250px;
    }

    button[type=button].play-two,
    button[type=button].plus {
        width: 100%;
    }

    .play-two {
        margin: 10px 0;
    }

    .plus {
        margin: 0;
    }

    .watch-favorite {
        flex-direction: column;
        justify-self: center;
        width: 200px;
    }

    .info-section {
        width: 100%;
        margin-left: 0;
        align-items: center;
    }

    /*  movie suggestion sections */

    .header.container.flex.space-between {
        width: 444px;
        margin: 0px;
        justify-content: center;
    }

    .three-column {
        width: 312px;
        text-align: center;
        gap: 10px;
    }

    div.column {
        flex: 0 0 100%;
        max-width: 100%;
        height: 430px;
    }

    .reasons p {
        height: 20px;
    }

    .footer-p p {
        padding: 34px 0px 20px 0px;
    }

    .form-box {
        width: 69%;

    }

    .form-box.center.flex-wrap {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 328px;
    }

    .landing-email-input,
    .footer-email {
        width: 300px;
        height: 57px;
    }

    .form-box .landing-email-submit {
        width: 160px;
        height: 57px;
        font-size: 16px;
    }

    .list {
        flex-direction: column;
    }

    html {
        width: 440px;
    }
}