@import url("./style.css");


.secondary-hero-image {
    background: #fff0 url("../media/main-page-hero.jpg") center /cover no-repeat;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.gap-30 {
    gap: 30px;
}
  

.space-between {
    justify-content: space-between;
}

/*----------------------------------*/
/*-----------Section----------------*/
/*----------------------------------*/


section.three-column {
    display: flex;
    flex-wrap: wrap;
}
  

div.column {
    flex: 1; 
    border: 1px solid #ddd;
    margin: 0.5rem; 
    width: 73px;
    height: 390px;
    border-radius: 19px;
}


.column img {
    width: 100%;
    height: 100%;
    border-radius: 19px;
}

.reasons {
    background: linear-gradient(135deg, rgb(29 26 51/ 2), rgb(32 17 30 / 3));
    position: relative;
}

.reasons h2 {
    padding: 15px 0px 0px 23px;
    color: #fff;
}

.reasons p {
    padding-left: 11px;
    text-align: left;
    padding: 15px 23px;
    font-weight: 300;
    font-size: 21px;
    color: #fff;
}

.reasons i {
    position: absolute;
    right: 37px;
    bottom: 35px;
    font-size: 40px;
    color: #fe0089;
}