/* Default styles */
.secondary-hero-image {
    background: #fff0 url("../image/main-page-hero.jpg") center / cover no-repeat;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}


.gap-30 {
    gap: 30px;
}


.space-between {
    justify-content: space-between;
}


.header-button:hover {
    background-color: #a71a0d;
}


section.three-column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}


div.column {
    border: 1px solid #ddd;
    margin: 0.5%;
    flex: 0 0 calc(25% - 15px);
    width: calc(25% - 15px);
    height: 390px;
    border-radius: 19px;
}


.column img {
    width: 100%;
    height: 100%;
    border-radius: 19px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.column img + .column img {
    margin-top: 4%;
}


.column:hover img {
    opacity: 1;
    transform: scale(1.02);
}


.more a {
    color: #fff;
    text-decoration: underline;
    position: relative;
    left: 95%;
}


.more a:hover {
    text-decoration: underline;
    color: #1e90ff;
}


.reasons {
    background: linear-gradient(135deg, rgb(29 26 51 / 2), rgb(32 17 30 / 3));
    position: relative;
}


.reasons h2 {
    padding: 15px 0px 0px 23px;
    color: #fff;
}


.reasons p {
    padding-left: 11px;
    text-align: left;
    padding: 15px 23px;
    font-weight: 300;
    font-size: 21px;
    color: #fff;
}


.reasons i {
    position: absolute;
    right: 37px;
    bottom: 35px;
    font-size: 40px;
    color: #fe0089;
}


.flex .list {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: left;
}


.flex .list a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    font-size: 20px;
}


.flex .list a:hover {
    text-decoration: underline;
}


.flex .space-between {
    justify-content: space-between;
}


.footer p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 19px;
}


  
  
    
  
/* Media queries for responsiveness */


@media (max-width: 1037px) {
    section.three-column {
        width: 99%;
        gap: 5px;
    }
}



@media (max-width: 930px) {
    div.column {
        flex: 0 0 calc(50% - 10px);
        max-width: 100%;
        height: auto;
    }

    section.three-column {
        width: 83%;
        gap: 5px;
    }

    div.column {
        height: 360px;
    }

    
    .column.reasons{
        height: 350px;
    }
    
    .more a {
        left: 80%;
    }

    section h1 {
        width: 620px;
    }

    form div .landing-email-input {
        width: 410px;
        height: 57px;
    }

    .form-box .landing-email-submit {
        width: 160px;
        height: 57px;
        font-size: 16px;
    }

    /* section.three-column.center{
        justify-self: center;
        margin-left: 50px;
    } */

    div.container.section{
        padding-left: 100px;
    }

}


@media screen and (max-width: 765px) {

    section.three-column {
        width: 98%;
        gap: 5px;
    }

    div.container.section{
        padding-left: 30px;
    }
   

    .column.reasons{
        height: 350px;
    }

    .more a {
        left: 80%;
    }

    .secondary-hero-text h1 {
        font-size: 48px;
        display: block;
        width: 540px;
        text-align: center;
        padding: 0px;
    }

    .secondary-hero-text h4 {
        font-size: 20px;
    }
    .landing-email-submit{
        width:181px;
        font-size: 17px;
    }
    .landing-email-input, .footer-email { 
        width:357px;
    }

    .secondary-hero-text p{
        font-size: 20px;
    }

    .column img {
        width: 100%; 
    }

    section footer p {
        padding-left: 30px;
    }
}

@media screen and (max-width: 500px) {

    .header.container.flex.space-between {
        width: 444px;
        margin: 0px;
        justify-content: center;
    }

    .secondary-hero-text h1 {
        font-size: 33px;
        display: block;
        width: 479px;
        text-align: center;
        padding: 0px;
    } 

   .secondary-hero-text h4 {
        width: 506px;
        font-size: 19px;
        padding-right: 12%;
    } 

    .secondary-hero-text p {
        font-size: 15px;
        padding: 0px;
    }

     h1 {
        text-align: center;
        margin: 0px;
     }

    section h1 {
        width: 362px;
    }

    .three-column {
    width: 312px;
    text-align: center;
    gap: 10px;
    }

    /* .six {
        height: 417px;
    } */

    div.column {
        flex: 0 0 100%;
        max-width: 100%;
        height: 430px;
    }

    .reasons p {
        height: 20px;
    }

    .footer-p p {
        padding: 34px 0px 20px 0px;
    }


    .form-box  {
        width: 69%;

    }
    .form-box .landing-email-submit {
        width:201px
    }

    .form-box.center.flex{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 328px;
    }


    form div .landing-email-input{
        width: 300px;
        height: 70px;
    }

    .form-box .landing-email-submit {
        width: 160px;
        height: 57px;
        font-size: 16px;
    }
}
